LOG_FILE="/opt/root/KeenSnap/log.txt"
PATH_SNAPD="/opt/etc/init.d/S99keensnap"
SCHEDULE_NAME=""
SELECTED_DRIVE=""
BOT_TOKEN=""
CHAT_ID=""
BACKUP_STARTUP_CONFIG=false
BACKUP_FIRMWARE=false
BACKUP_ENTWARE=false
BACKUP_WG_PRIVATE_KEY=false